:host{
	padding:1em;
	box-sizing:border-box;
	background-color:#e0f0df;
	color:#000;
}

h1{
	text-align:center;
	margin:0;
}

#settings{
	text-align:center;
}

#viewers{
	margin:auto;
	width:15em;
}

.user{
	display:block;
	padding:.25em;
	width:100%;
	margin:0;
	box-sizing:border-box;
	
	color:#000;
	
	text-align:left;
}