:host{
	padding:1em;
	box-sizing:border-box;
	background-color:#f0dfdf;
}

h1{
	text-align:center;
	margin:0;
}

h1,p{
	text-align:center;
}

table{
	border-collapse:collapse;
	margin:1em auto;
	background-color:var(--medium-dark);
	color:var(--medium);
}

td:first-child{
	font-weight:bold;
}

tr{
	border:1px solid var(--medium);
}

td{
	padding:.1em .25em;
}

input{
	/* width:40em; */
}

.points{
	width:5em;
}

#scenarios-container{
	max-width:100%;
}

.option{
	width:100%;
}

button{
	cursor:pointer;
}

#scenario-add{
	display:block;
	margin:auto;
	font-size:1.5em;
}

#display-time{
	font-weight:bold;
}