/*



*/

:root {
	--light: #ebebeb;
	--medium: #b4d6bd;
	--dark: #343d3c;
}

body{
	padding:1em;
	margin:0;
	
	font-family:Arial;
	
	background-color:var(--dark);
	color:var(--light);
}

#logo{
	height:12em;
}

/* Header */

header{
	text-align:center;
}

h1{
	margin:0;
}

#credits{
	font-size:.5em;
	display:block;
}

#social-links{
	display:flex;
	justify-content:center;
}

#social-links p{
	margin:0;
	padding:.5em;
}

#social-links p > a{
	color:var(--light);
}

#packages{
	display:flex;
	justify-content:center;
}

.button-package{
	width:8em;
	font-weight:bold;
	cursor:pointer;
	
	background-color:var(--medium);
	color:var(--dark);
	
	box-sizing:border-box;
	
	border:1px solid var(--dark);
	box-shadow:none;
}

.button-package:hover{
	/* background-color:var(--dark); */
}

.button-package:active{
	color:var(--light);
	border:1px solid var(--medium);
	background-color:var(--dark);
}

.active{
	color:var(--light);
	border:1px solid var(--medium);
	background-color:var(--dark);
}

/* Main */

.package{
	margin:1em 0;
	width:100%;
	box-shadow:.2em .2em .3em var(--medium);
	box-sizing:border-box;
	resize:both;
	overflow:auto;
}

/* Footer */

footer{
	color:var(--dark);
	display:block;
	width:100%;
	margin:0;
	padding:.5em;
	
	box-sizing:border-box;
	text-align:center;
}

footer a{
	color:var(--dark);
}