/*



*/

:root {
	--light: #eeeeee;
	--medium: #999999;
	--medium-dark: #333333;
	--dark: #000000;
}

body{
	padding:1em;
	margin:0;
	
	font-family:Arial;
	
	background-color:var(--light);
	color:var(--medium-dark);
}

/* Header */

header{
	text-align:center;
}

h1{
	margin:0;
}

#credits{
	font-size:.5em;
	display:block;
}

nav{
	display:flex;
	justify-content:center;
}

.button-package{
	width:8em;
	font-weight:bold;
	cursor:pointer;
	
	background-color:var(--medium);
	color:var(--light);
	
	box-sizing:border-box;
	
	border:1px solid var(--medium-dark);
	box-shadow:none;
}

.button-package:hover{
	/* background-color:var(--dark); */
}

.button-package:active{
	border:1px solid var(--medium);
	background-color:var(--dark);
}

.active{
	border:1px solid var(--medium);
	background-color:var(--medium-dark);
}

/* Main */

.package{
	margin:1em 0;
	width:100%;
	box-shadow:.2em .2em .3em var(--medium);
	box-sizing:border-box;
	resize:both;
	overflow:auto;
}