:host{
	padding:1em;
	box-sizing:border-box;
	background-color:#eddff0;
}

h1{
	text-align:center;
	margin:0;
}

.puppet-select{
	border:1px solid black;
}

.puppet-image-select{
	height:5em;
	border:1px solid black;
	cursor:pointer;
}

.puppet-image-select:hover{
	background-color:yellow;
}