:host{
	padding:1em;
	box-sizing:border-box;
	background-color:#eddff0;
	color:#000;
}

h1{
	text-align:center;
	margin:0;
}

#puppet-info{
	display:flex;
	justify-content:space-between;
}

.puppet-select{
	margin:0;
	padding:0;
	display:block;
}

.puppet-image-select{
	height:5em;
	border:1px solid black;
	cursor:pointer;
}

.puppet-image-select:hover{
	background-color:yellow;
}