:host{
	padding:1em;
	box-sizing:border-box;
	background-color:#f0eadf;
	color:#000;
}

h1{
	text-align:center;
	margin:0;
}

#message-form{
	text-align:center;
}

#canvas{
	/* background-color:gray; */
	width:1920px;
	height:1080px;
}

body{
	padding:0;
	margin:0;
}